{% extends 'base.html' %}


{% block app_content %}
	<style media="screen">
		h3 {
			text-decoration: underline;
			color: #607de6;
		}
		h3:hover {
			color: blue;
		}
		img{
			width:1140px;
			height: auto;
			margin-top:30px;
		}
	</style>


	<div class="jumbotron" style="color:black">
    <h1 style="color:black">Latest Coronavirus News</h1>
  	</div>

  	<div class="container" style="padding-left: 0;">
			{% for news_title, news_description, news_image, news_url, countList in context %}
				{% if news_image %}
		 			<a> <img src="{{news_image}}" alt=""> </a>
				{% else %}
					<a> <img src="static/images/no-pic.jpg" alt=""> </a>
				{% endif %}
				<h3 onclick="window.location.href='{{ url_for( 'news_detail_page' , key = countList ) }}';">{{news_title}}</h3>
		    <h5>{{news_description}}</h5>
				<br>
		    {% endfor %}
  	</div>


{% endblock %}
